<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-JavierP-rez/blob/main/actividad_de_semana_1_2_python_for_data_science_ibm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python for Data Science**


---

Javier PÃ©rez

A01794233

## Module 1 - Python Basics 


---

### Statements


---

In [3]:
#Statement or expression
#Syntatic error
#Semantic error
print("Hello\nWorld!")

Hello
World!

In [5]:
#Types
#int, float, string
print(type(11))
print(type(21.23))
print(type("Hello, world!"))

<class 'int'>
<class 'float'>
<class 'str'>

In [13]:
#casting
print(float(2))
print(int(1.1))
print(int('1'))
#error
#print(int('A'))
print(str(1.5))
print(str(1))
#Boolean -> True or False
print(type(True))
print(int(True))
print(int(False))
print(bool(1))
print(bool(0))

2.0
1
1
1.5
1
<class 'bool'>
1
0
True
False

### Expressions


---

In [24]:
#Expressions
print(34+43*60/14-16)
print(34+43*60//14-16)
print(34+43*60//(14-16))
#Variables
my_variable = 1
print(my_variable)
x = 102 + 1 * 2
print(x)

202.28571428571428
202
-1256
1
104

### Strings


---

In [34]:
#String Operations
#String
name = 'Michael'
print(name[0])
print(name[2])
print(name[-1])
#Slicing
print(name[1:4])
#Concatenate
word = 'Hello' + 'world'
print(word)
print(3 * "name")
name = 'Michael'
name = 'Michael' + "J"
print(name)
#Strings are immutable
#\n
#\t
#\\
#String methods
A = "example"
print(A.upper())
print(A.replace('a','b'))
print(A.find('p'))
print(A.find('z'))

M
c
l
ich
Helloworld
namenamename
MichaelJ
EXAMPLE
exbmple
4
-1

## Module 2 - Python Data Structures 


---

### Tuples


---

In [49]:
#Lists and Tuples
#These are called compound data types
#Tuples - order sequence
ratings = (10, 9, 6, 5, 10, 8, 9, 6, 2)
print(ratings)
tuple1 = ('disco', 10, 1.2)
#Type of the element is a tuple
print(type(tuple1))
#Access an element of the tuple with index
print(ratings[1])
print(ratings[-1])
#Concatenate
tuple2 = tuple1 + ("hw", 10)
print(tuple2)
#Slice
print(tuple2[0:3])
print(tuple2[3:5])
print(len(tuple2))
#Tuples are immutable
ratings1 = ratings #References the same immutable tuple object
ratings = (2, 10, 1)
print(ratings1)
print(ratings)
Ratings_sorted = sorted(ratings1)
print(Ratings_sorted)
#nesting
#See as a tree
nt = ((1,2,3), 3,4)
print(nt[0])
print(nt[0][1])

(10, 9, 6, 5, 10, 8, 9, 6, 2)
<class 'tuple'>
9
2
('disco', 10, 1.2, 'hw', 10)
('disco', 10, 1.2)
('hw', 10)
5
(10, 9, 6, 5, 10, 8, 9, 6, 2)
(2, 10, 1)
[2, 5, 6, 6, 8, 9, 9, 10, 10]
(1, 2, 3)
2

### List


---

In [63]:
#List
#ordered sequence - mutable
l = ["MJ", 10.1, 12, [1,3], (5,6)]
print(l[3])
print(l[-1])
print(l[1:3])#slicing
l.extend(["hello", 1, 2])
print(l)
l.append("a")
print(l)
#change
a = ["d", 10, 1.2]
a[0] = 'c'
print(a)
#delete
del(a[1])
print(a)
#String to a list
s = 'hello, world!'
print(s.split())
s = 'h,e,l,l,o,w,o,r,l,d'
print(s.split(','))
b = a[:]
print(b)
help(a)

[1, 3]
(5, 6)
[10.1, 12]
['MJ', 10.1, 12, [1, 3], (5, 6), 'hello', 1, 2]
['MJ', 10.1, 12, [1, 3], (5, 6), 'hello', 1, 2, 'a']
['c', 10, 1.2]
['c', 1.2]
['hello,', 'world!']
['h', 'e', 'l', 'l', 'o', 'w', 'o', 'r', 'l', 'd']
['c', 1.2]
Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Stable sort *IN PLACE*.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

### Sets


---

In [73]:
#Type of collection. 
#Unordered. 
#Unique elemens. 
set1 = {'pop', 'rock', 'soul', 'hard rock', 'rock', 'R&B', 'rock', 'disco', 'art'}
print(set1)
#type-casting
l = ["MJ", "t", "t", 1902]
set(l)
#set operations
A = {"Thriller", "Back in Black", "AC/DC"}
print(A)
A.add("NSYNC")
print(A)
A.remove("NSYNC")
print(A)
print("AC/DC" in A)
#Math operations
A = {"Thriller", "Back in Black", "AC/DC", "a"}
B = {"Thriller", "AC/DC", "a", "b"}
print(A & B)
print(A.union(B))
print(B.issubset(A))

{'hard rock', 'R&B', 'rock', 'soul', 'disco', 'pop', 'art'}
{'AC/DC', 'Back in Black', 'Thriller'}
{'NSYNC', 'AC/DC', 'Back in Black', 'Thriller'}
{'AC/DC', 'Back in Black', 'Thriller'}
True
{'a', 'AC/DC', 'Thriller'}
{'AC/DC', 'Thriller', 'Back in Black', 'b', 'a'}
False

### Dictionaries


---

In [79]:
#Dictionaries
#Type of collection
#Keys and values
di = {"one":"uno", "two":"dos", "three":"tres"}
print(di["one"])
di["four"] = "cuatro"
print(di)
del(di["two"])
print(di)
print("one" in di)
print(di.keys())
print(di.values())

uno
{'one': 'uno', 'two': 'dos', 'three': 'tres', 'four': 'cuatro'}
{'one': 'uno', 'three': 'tres', 'four': 'cuatro'}
True
dict_keys(['one', 'three', 'four'])
dict_values(['uno', 'tres', 'cuatro'])

## Module 3 - Python Programming 


---

### Conditions and Branching


---