<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-JavierP-rez/blob/main/actividad_de_semana_1_2_python_for_data_science_ibm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python for Data Science

Module 1 - Python Basics

In [3]:
#Statement or expression
#Syntatic error
#Semantic error
print("Hello\nWorld!")

Hello
World!

In [5]:
#Types
#int, float, string
print(type(11))
print(type(21.23))
print(type("Hello, world!"))

<class 'int'>
<class 'float'>
<class 'str'>

In [13]:
#casting
print(float(2))
print(int(1.1))
print(int('1'))
#error
#print(int('A'))
print(str(1.5))
print(str(1))
#Boolean -> True or False
print(type(True))
print(int(True))
print(int(False))
print(bool(1))
print(bool(0))

2.0
1
1
1.5
1
<class 'bool'>
1
0
True
False

In [24]:
#Expressions
print(34+43*60/14-16)
print(34+43*60//14-16)
print(34+43*60//(14-16))
#Variables
my_variable = 1
print(my_variable)
x = 102 + 1 * 2
print(x)

202.28571428571428
202
-1256
1
104