<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-JavierP-rez/blob/main/actividad_de_semana_1_2_python_for_data_science_ibm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python for Data Science**


---

## **Module 1 - Python Basics **


---

In [3]:
#Statement or expression
#Syntatic error
#Semantic error
print("Hello\nWorld!")

Hello
World!

In [5]:
#Types
#int, float, string
print(type(11))
print(type(21.23))
print(type("Hello, world!"))

<class 'int'>
<class 'float'>
<class 'str'>

In [13]:
#casting
print(float(2))
print(int(1.1))
print(int('1'))
#error
#print(int('A'))
print(str(1.5))
print(str(1))
#Boolean -> True or False
print(type(True))
print(int(True))
print(int(False))
print(bool(1))
print(bool(0))

2.0
1
1
1.5
1
<class 'bool'>
1
0
True
False

In [24]:
#Expressions
print(34+43*60/14-16)
print(34+43*60//14-16)
print(34+43*60//(14-16))
#Variables
my_variable = 1
print(my_variable)
x = 102 + 1 * 2
print(x)

202.28571428571428
202
-1256
1
104

In [34]:
#String Operations
#String
name = 'Michael'
print(name[0])
print(name[2])
print(name[-1])
#Slicing
print(name[1:4])
#Concatenate
word = 'Hello' + 'world'
print(word)
print(3 * "name")
name = 'Michael'
name = 'Michael' + "J"
print(name)
#Strings are immutable
#\n
#\t
#\\
#String methods
A = "example"
print(A.upper())
print(A.replace('a','b'))
print(A.find('p'))
print(A.find('z'))

M
c
l
ich
Helloworld
namenamename
MichaelJ
EXAMPLE
exbmple
4
-1

## **Module 2 - Python Data Structures **


---

In [49]:
#Lists and Tuples
#These are called compound data types
#Tuples - order sequence
ratings = (10, 9, 6, 5, 10, 8, 9, 6, 2)
print(ratings)
tuple1 = ('disco', 10, 1.2)
#Type of the element is a tuple
print(type(tuple1))
#Access an element of the tuple with index
print(ratings[1])
print(ratings[-1])
#Concatenate
tuple2 = tuple1 + ("hw", 10)
print(tuple2)
#Slice
print(tuple2[0:3])
print(tuple2[3:5])
print(len(tuple2))
#Tuples are immutable
ratings1 = ratings #References the same immutable tuple object
ratings = (2, 10, 1)
print(ratings1)
print(ratings)
Ratings_sorted = sorted(ratings1)
print(Ratings_sorted)
#nesting
#See as a tree
nt = ((1,2,3), 3,4)
print(nt[0])
print(nt[0][1])

(10, 9, 6, 5, 10, 8, 9, 6, 2)
<class 'tuple'>
9
2
('disco', 10, 1.2, 'hw', 10)
('disco', 10, 1.2)
('hw', 10)
5
(10, 9, 6, 5, 10, 8, 9, 6, 2)
(2, 10, 1)
[2, 5, 6, 6, 8, 9, 9, 10, 10]
(1, 2, 3)
2

In [ ]:
#List
#ordered sequence