<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-JavierP-rez/blob/main/actividad_de_semana_1_2_python_for_data_science_ibm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python for Data Science**


---

Javier PÃ©rez

A01794233

## Module 1 - Python Basics 


---

### Statements


---

In [ ]:
#Statement or expression
#Syntatic error
#Semantic error
print("Hello\nWorld!")

Hello
World!

In [ ]:
#Types
#int, float, string
print(type(11))
print(type(21.23))
print(type("Hello, world!"))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
#casting
print(float(2))
print(int(1.1))
print(int('1'))
#error
#print(int('A'))
print(str(1.5))
print(str(1))
#Boolean -> True or False
print(type(True))
print(int(True))
print(int(False))
print(bool(1))
print(bool(0))

2.0
1
1
1.5
1
<class 'bool'>
1
0
True
False

### Expressions


---

In [ ]:
#Expressions
print(34+43*60/14-16)
print(34+43*60//14-16)
print(34+43*60//(14-16))
#Variables
my_variable = 1
print(my_variable)
x = 102 + 1 * 2
print(x)

202.28571428571428
202
-1256
1
104

### Strings


---

In [ ]:
#String Operations
#String
name = 'Michael'
print(name[0])
print(name[2])
print(name[-1])
#Slicing
print(name[1:4])
#Concatenate
word = 'Hello' + 'world'
print(word)
print(3 * "name")
name = 'Michael'
name = 'Michael' + "J"
print(name)
#Strings are immutable
#\n
#\t
#\\
#String methods
A = "example"
print(A.upper())
print(A.replace('a','b'))
print(A.find('p'))
print(A.find('z'))

M
c
l
ich
Helloworld
namenamename
MichaelJ
EXAMPLE
exbmple
4
-1

## Module 2 - Python Data Structures 


---

### Tuples


---

In [ ]:
#Lists and Tuples
#These are called compound data types
#Tuples - order sequence
ratings = (10, 9, 6, 5, 10, 8, 9, 6, 2)
print(ratings)
tuple1 = ('disco', 10, 1.2)
#Type of the element is a tuple
print(type(tuple1))
#Access an element of the tuple with index
print(ratings[1])
print(ratings[-1])
#Concatenate
tuple2 = tuple1 + ("hw", 10)
print(tuple2)
#Slice
print(tuple2[0:3])
print(tuple2[3:5])
print(len(tuple2))
#Tuples are immutable
ratings1 = ratings #References the same immutable tuple object
ratings = (2, 10, 1)
print(ratings1)
print(ratings)
Ratings_sorted = sorted(ratings1)
print(Ratings_sorted)
#nesting
#See as a tree
nt = ((1,2,3), 3,4)
print(nt[0])
print(nt[0][1])

(10, 9, 6, 5, 10, 8, 9, 6, 2)
<class 'tuple'>
9
2
('disco', 10, 1.2, 'hw', 10)
('disco', 10, 1.2)
('hw', 10)
5
(10, 9, 6, 5, 10, 8, 9, 6, 2)
(2, 10, 1)
[2, 5, 6, 6, 8, 9, 9, 10, 10]
(1, 2, 3)
2

### List


---

In [ ]:
#List
#ordered sequence - mutable
l = ["MJ", 10.1, 12, [1,3], (5,6)]
print(l[3])
print(l[-1])
print(l[1:3])#slicing
l.extend(["hello", 1, 2])
print(l)
l.append("a")
print(l)
#change
a = ["d", 10, 1.2]
a[0] = 'c'
print(a)
#delete
del(a[1])
print(a)
#String to a list
s = 'hello, world!'
print(s.split())
s = 'h,e,l,l,o,w,o,r,l,d'
print(s.split(','))
b = a[:]
print(b)
help(a)

[1, 3]
(5, 6)
[10.1, 12]
['MJ', 10.1, 12, [1, 3], (5, 6), 'hello', 1, 2]
['MJ', 10.1, 12, [1, 3], (5, 6), 'hello', 1, 2, 'a']
['c', 10, 1.2]
['c', 1.2]
['hello,', 'world!']
['h', 'e', 'l', 'l', 'o', 'w', 'o', 'r', 'l', 'd']
['c', 1.2]
Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Stable sort *IN PLACE*.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

### Sets


---

In [ ]:
#Type of collection. 
#Unordered. 
#Unique elemens. 
set1 = {'pop', 'rock', 'soul', 'hard rock', 'rock', 'R&B', 'rock', 'disco', 'art'}
print(set1)
#type-casting
l = ["MJ", "t", "t", 1902]
set(l)
#set operations
A = {"Thriller", "Back in Black", "AC/DC"}
print(A)
A.add("NSYNC")
print(A)
A.remove("NSYNC")
print(A)
print("AC/DC" in A)
#Math operations
A = {"Thriller", "Back in Black", "AC/DC", "a"}
B = {"Thriller", "AC/DC", "a", "b"}
print(A & B)
print(A.union(B))
print(B.issubset(A))

{'hard rock', 'R&B', 'rock', 'soul', 'disco', 'pop', 'art'}
{'AC/DC', 'Back in Black', 'Thriller'}
{'NSYNC', 'AC/DC', 'Back in Black', 'Thriller'}
{'AC/DC', 'Back in Black', 'Thriller'}
True
{'a', 'AC/DC', 'Thriller'}
{'AC/DC', 'Thriller', 'Back in Black', 'b', 'a'}
False

### Dictionaries


---

In [ ]:
#Dictionaries
#Type of collection
#Keys and values
di = {"one":"uno", "two":"dos", "three":"tres"}
print(di["one"])
di["four"] = "cuatro"
print(di)
del(di["two"])
print(di)
print("one" in di)
print(di.keys())
print(di.values())

uno
{'one': 'uno', 'two': 'dos', 'three': 'tres', 'four': 'cuatro'}
{'one': 'uno', 'three': 'tres', 'four': 'cuatro'}
True
dict_keys(['one', 'three', 'four'])
dict_values(['uno', 'tres', 'cuatro'])

## Module 3 - Python Programming 


---

### Conditions and Branching


---

In [ ]:
#All type of data
#Conditions
a = 6
b = 7
print(a==b)
print(a>5)
print(b<8)
print(a!=6)
#Strings as well
str1 = "MJ"
str2 = "ACDC"
print(str1 == str2)
print(str1 != str2)

False
True
True
False
False
True

In [ ]:
#Branching
age = 18
#age = 19

if age > 18:
  print("You can enter")

print("Move on")

#--Another example
age = 18
#age = 19

if age > 18:
  print("You can enter")

else:
  print("Go see Meat Loaf")

print("Move on")

#---Other example

age = 18
#age = 19

if age > 18:
  print("You can enter")

elif age == 18:
  print("Go see Pink Floyd")

else:
  print("Go see Meat Loaf")

print("Move on")

#Logic operators
print(not(False))
print(False or True)

album_year = 1990

if(album_year < 1980) or (album_year > 1989):
  print("The Album was made in the 70's or 90's")
else:
  print("The Album was made in the 1980's")

print(True and True)

album_year = 1983

if(album_year > 1979) and (album_year < 1990):
  print("The Album was made in the 80's")

Move on
Go see Meat Loaf
Move on
Go see Pink Floyd
Move on
True
True
The Album was made in the 70's or 90's
True
The Album was made in the 80's

### Loops


---

In [ ]:
#Loops
#For loops

#range(5) = [0, 1, 2, 3, 4]

squares = ['red', 'yellow', 'green', 'purple', 'blue']
print(squares)

for i in range(len(squares)):
  squares[i] = "white"

print(squares)


squares = ['red', 'yellow', 'green', 'purple', 'blue']

for i in squares:
  print(i)

for i,square in enumerate(squares):
  print(i, square)

#While loops

squares = ["orange", "orange", "purple", "blue"]
new_squares = []

i = 0

while squares[i] == "orange":
  new_squares.append(squares[i])
  i = i + 1

print(new_squares)

['red', 'yellow', 'green', 'purple', 'blue']
['white', 'white', 'white', 'white', 'white']
red
yellow
green
purple
blue
0 red
1 yellow
2 green
3 purple
4 blue
['orange', 'orange']

### Functions


---

In [ ]:
#Functions
#Python built-in functions
l = [10, 2, 4, 5, 3, 1]
print(len(l))
print(sum(l))
sorted_l = sorted(l)
print(sorted_l)
print(l)
l.sort()
print(l)
#Build or own functions
def add1(a):
  """
  add 1 to a
  """
  b = a + 1
  return b

print(add1(9))
c = add1(4)
print(c)
help(add1)
#..........................

def Mult(a,b):
  c = a * b
  return c

print(Mult(5,4))

#---------------------------

def hi():
  print("Hello, my friend!")

hi()

#----------------------------
def NoWork():
  pass

print(NoWork())

#/////////////////////////////
def Op(a):
  b = a + 1
  print(a, "plus 1 equals", b)
  return b

print(Op(8))

def opl(it):
  for i,s in enumerate(it):
    print("Album", i, "Rating is", s)

opl([1, 2, 3])

def ArtistNames(*names):
  for name in names:
    print(name)

ArtistNames("h", "e", "l", "l")
ArtistNames("h", "e", "l")


def AddDC(y):
  x = y + "DC"
  print(x)
  return(x)

x = "AC"
z = AddDC(x)

def Thriller():
  date = 1982
  return(date)

date = 2017
print(Thriller())
print(date)

def ACDC(y):
  print(Rating)
  return(Rating+y)

Rating = 9
Z = ACDC(1)
print(Rating)

def PinkFloyd():
  global ClaimedSales#Global variable
  ClaimedSales = "45 million"
  return ClaimedSales

PinkFloyd()
print(ClaimedSales)

6
25
[1, 2, 3, 4, 5, 10]
[10, 2, 4, 5, 3, 1]
[1, 2, 3, 4, 5, 10]
10
5
Help on function add1 in module __main__:

add1(a)
    add 1 to a

20
Hello, my friend!
None
8 plus 1 equals 9
9
Album 0 Rating is 1
Album 1 Rating is 2
Album 2 Rating is 3
h
e
l
l
h
e
l
ACDC
1982
2017
9
9
45 million

### Objects and classes


---

In [11]:
#Objects and classes
#What is an object
print(type("s"))
print(type(1))
print(type([1,2,3]))

r = [10, 8, 4, 2, 1, 9, 3, 1]
print(r)
r.sort()
print(r)
r.reverse()
print(r)

class Circle(object):
  def __init__(self, radius, color):
    self.radius = radius
    self.color = color

  def add_radius(self,r):
    self.radius = self.radius + r


class Rectangle(object):
  def __init__(self, height, width, color="blue"):
    self.height = height
    self.width = width
    self.color = color

RedCircle = Circle(10, "red")
print(RedCircle.radius)
print(RedCircle.color)

RedCircle.radius = 30

C1 = Circle(2, 'red')
C1.add_radius(5)
print(C1.radius)

print(dir("s"))

<class 'str'>
<class 'int'>
<class 'list'>
[10, 8, 4, 2, 1, 9, 3, 1]
[1, 1, 2, 3, 4, 8, 9, 10]
[10, 9, 8, 4, 3, 2, 1, 1]
10
red
7
['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']