<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-JavierP-rez/blob/main/Module4_Actividad1_PythonForDataScience_IBM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python for Data Science



---



---

Javier PÃ©rez 

A01794233


---

## Module 4 - Working with Data in Python


---

### Reading Files with Open


---

In [ ]:
#Google Drive file I/O with Google Colaboratory
# mount Google Drive
from google.colab import drive
drive.mount('/content/gdrive')

gdrive_path = '/content/gdrive/My Drive/TestReadAndWriteFiles/'

# write a file
'''with open(f'{gdrive_path}output.txt', 'w') as file:
  file.write('Hello Google Drive!')
!cat /content/gdrive/My\ Drive/output.txt'''

with open(f'{gdrive_path}output.txt', 'w') as file:
  file.write('Hello Google Drive!\n Line1 \n Line2 \n Line3')
!cat /content/gdrive/My\ Drive/output.txt

Mounted at /content/gdrive
cat: '/content/gdrive/My Drive/output.txt': No such file or directory

In [ ]:
#Python built-in function to create a file object, and obtain data from a txt file.
File1 = open("/content/gdrive/My Drive/TestReadAndWriteFiles/output.txt","w")
#Mode: w, r, a
print(File1.name)
print(File1.mode)
File1.close()

/content/gdrive/My Drive/TestReadAndWriteFiles/output.txt
w

In [ ]:
with open('/content/gdrive/My Drive/TestReadAndWriteFiles/output.txt', 'r') as File1:
  file_stuff = File1.read()
  print(file_stuff)

print(File1.closed)
print(file_stuff)

l = file_stuff.split()
print(l)

Hello Google Drive!
True
Hello Google Drive!
['Hello', 'Google', 'Drive!']

In [ ]:
with open('/content/gdrive/My Drive/TestReadAndWriteFiles/output.txt', 'r') as File1:
  file_stuff = File1.readlines()
  #file_stuff = File1.readline()
  #file_stuff2 = File1.readline()
  #print(File1.readlines(4))
  print(file_stuff)
  
for line in file_stuff:
  print(line)

# \n

['Hello Google Drive!\n', ' Line1 \n', ' Line2 \n', ' Line3']
Hello Google Drive!

 Line1

 Line2

 Line3

### Writing Files with Open


---

In [ ]:
File1 = open("/content/gdrive/My Drive/TestReadAndWriteFiles/output2.txt","w")

In [ ]:
with open("/content/gdrive/My Drive/TestReadAndWriteFiles/output2.txt","w") as File1:
  File1.write('This is line A\n')
  File1.write('This is line B\n')
  print("I've written in the file")

I've written in the file

In [ ]:
Lines = ["This is line A\n", "This is line B\n", "This is line C\n"]
with open("/content/gdrive/My Drive/TestReadAndWriteFiles/output3.txt","w") as File1:
  for line in Lines:
    File1.write(line)
    print("Done")

Done
Done
Done

In [ ]:
with open("/content/gdrive/My Drive/TestReadAndWriteFiles/output3.txt","a") as File1:
    File1.write("Append mode")
    print("Done")

Done

In [ ]:
#Copy one file to a new file

with open("/content/gdrive/My Drive/TestReadAndWriteFiles/output3.txt","r") as readFile:

  with open("/content/gdrive/My Drive/TestReadAndWriteFiles/output4.txt","w") as writeFile:

    for line in readFile:
      writeFile.write(line)
      print("I've copied the line")

I've copied the line
I've copied the line
I've copied the line
I've copied the line

### Loading Data with Pandas


---

In [ ]:
#Pandas - a library for data analysis
import pandas
csv_path = '/content/gdrive/My Drive/TestReadAndWriteFiles/TestC.csv'
df = pandas.read_csv(csv_path)
print(df)

    1  q
0   2  w
1   3  e
2   4  r
3   5  t
4   6  y
5   7  u
6   8  i
7   9  o
8   1  p
9   1  a
10  2  s
11  3  d
12  3  f

In [ ]:
import pandas as pd
csv_path = '/content/gdrive/My Drive/TestReadAndWriteFiles/TestC.csv'
df = pd.read_csv(csv_path) #data frame
df.head()

   1  q
0  2  w
1  3  e
2  4  r
3  5  t
4  6  y

In [ ]:
import pandas as pd

xlsx_path = '/content/gdrive/My Drive/TestReadAndWriteFiles/TestZ.xlsx'
df = pd.read_excel(xlsx_path)
df.head()

#A dataframe is comprised of rows and columns. We can create a data frame out of a dictionary.

   1  q
0  2  w
1  3  e
2  4  r
3  5  t
4  6  y

In [ ]:
import pandas as pd
songs = {"Album": ["Thriller", "Back in Black", "TDSM", "Hello", "HowAre"],
         "Released":[1983, 1928, 9192, 1982, 2384],
         "Len":["01091", "9192", "19282", "kajsd", "laja"]}
print(songs)
songs_frame = pd.DataFrame(songs)
print(songs_frame)

df= pd.DataFrame(songs)
#df[["Len"]]

df[["Released", "Len"]]

{'Album': ['Thriller', 'Back in Black', 'TDSM', 'Hello', 'HowAre'], 'Released': [1983, 1928, 9192, 1982, 2384], 'Len': ['01091', '9192', '19282', 'kajsd', 'laja']}
           Album  Released    Len
0       Thriller      1983  01091
1  Back in Black      1928   9192
2           TDSM      9192  19282
3          Hello      1982  kajsd
4         HowAre      2384   laja

   Released    Len
0      1983  01091
1      1928   9192
2      9192  19282
3      1982  kajsd
4      2384   laja

In [ ]:
import pandas as pd
songs = {"Album": ["Thriller", "Back in Black", "TDSM", "Hello", "HowAre"],
         "Released":[1983, 1928, 9192, 1982, 2384],
         "Len":["01091", "9192", "19282", "kajsd", "laja"]}
df= pd.DataFrame(songs)
#df.ix[0,"Album"]:"Thriller"
#z = df.ix[0:2, 0:3]

### Working with and Saving Data with Pandas


---

In [ ]:
import pandas as pd
songs = {"Released":[1983, 1928, 9192, 1982, 2384, 23442,1928,9192 ]}
df= pd.DataFrame(songs)
print(df)
df["Released"].unique()

   Released
0      1983
1      1928
2      9192
3      1982
4      2384
5     23442
6      1928
7      9192

array([ 1983,  1928,  9192,  1982,  2384, 23442])

In [ ]:
import pandas as pd
songs = {"Album": ["Thriller", "Back in Black", "TDSM", "Hello", "HowAre"],
         "Released":[1983, 1928, 9192, 1982, 2384],
         "Len":["01091", "9192", "19282", "kajsd", "laja"]}
print(songs)
df["Released"]>=1980

{'Album': ['Thriller', 'Back in Black', 'TDSM', 'Hello', 'HowAre'], 'Released': [1983, 1928, 9192, 1982, 2384], 'Len': ['01091', '9192', '19282', 'kajsd', 'laja']}

0     True
1    False
2     True
3     True
4     True
5     True
6    False
7     True
Name: Released, dtype: bool

In [ ]:
import pandas as pd
songs = {"Album": ["Thriller", "Back in Black", "TDSM", "Hello", "HowAre"],
         "Released":[1983, 1928, 9192, 1982, 2384],
         "Len":["01091", "9192", "19282", "kajsd", "laja"]}
print(songs)
df1 = df[df["Released"]>=1980]
print(df1)
#df1.to_csv("/content/gdrive/My Drive/TestReadAndWriteFiles/TesXZ.csv")

{'Album': ['Thriller', 'Back in Black', 'TDSM', 'Hello', 'HowAre'], 'Released': [1983, 1928, 9192, 1982, 2384], 'Len': ['01091', '9192', '19282', 'kajsd', 'laja']}
   Released
0      1983
2      9192
3      1982
4      2384
5     23442
7      9192

In [ ]:
import pandas as pd
df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})
df['a']==1

0     True
1    False
2     True
Name: a, dtype: bool

## Python Object Oriented Programming (OOP) - For Beginners



---

In [8]:
#Object Orientated Programming in Python
x = 1
print(type("hello"))

class Dog:
  def __init__(self,name, age):
    self.name = name
    self.age = age

  def bark():
    print("bark")
  
  def add_one(self, x):
    return x + 1
  
  def bark(self):
    print("bark")

  def get_name(self):
    return self.name
  
  def get_age(self):
    return self.age
  
  def set_age(self, age):
    self.age = age

d = Dog("Tim",34)
d.set_age(23)
print(type(d))
d2 = Dog("Bill",12)
print(d2.get_name())
print(d.get_age())

<class 'str'>
<class '__main__.Dog'>
Bill
23

In [13]:
class Student:
  def __init__(self, name, age, grade):
    self.name = name
    self.age = age
    self.grade = grade #0 - 100

  def get_grade(self):
    return self.grade

class Course:
  def __init__(self, name, max_students):
    self.name = name
    self.max_students = max_students
    self.students = []
  def add_student(self, student):
    if len(self.students) < self.max_students:
      self.students.append(student)
      return True
    return False
  
  def get_average_grade(self):
    value = 0
    for student in self.students:
      value += student.get_grade()
    
    return value / len(self.students)
  
s1 = Student("Tim", 19, 95)
s2 = Student("Bill", 19, 75)
s3 = Student("Jill", 19, 65)

course = Course("Science",2)
course.add_student(s1)
course.add_student(s2)
print(course.add_student(s3))
print(course.get_average_grade())

False
85.0

In [18]:
class Pet:
  def __init__(self, name, age):
    self.name = name
    self.age = age
  
  def show(self):
    print(f"I am {self.name} and I am, {self.age} years old")
  
  def speak(self):
    print("I dont know what I say")

class Cat(Pet):
  def __init__(self, name, age, color):
    super().__init__(name, age)
    self.color = color

  def show(self):
    print(f"I am {self.name} and I aM, {self.age} years old and I am {self.color}")

  def speak(self):
    print("Meow")

class Dog(Pet):
  def speak(self):
    print("Bark")

p = Pet("Tim", 19)
p.show()
c = Cat("Bill", 34, "blue")
c.speak()
d = Dog("Jill", 25)
d.speak()

I am Tim and I am, 19 years old
Meow
Bark

In [20]:
class Person:
  number_of_people = 0
  GRAVITY = -9.8

  def __init__(self, name):
    self.name = name
  
  @classmethod
  def number_of_people(cls):
    return cls.number_of_people()

  @classmethod
  def add_people(cls):
    cls.number_of_people += 1

p1 = Person("tim")
print(Person.number_of_people)
p2 = Person("Jill")
print(Person.number_of_people)

<bound method Person.number_of_people of <class '__main__.Person'>>
<bound method Person.number_of_people of <class '__main__.Person'>>

In [21]:
class Math:

  @staticmethod
  def add5(x):
    return x + 5
  
  @staticmethod
  def add10(x):
    return x + 10

  @staticmethod
  def pr():
    print("run")

Math.pr()

run